### Importando Bibliotecas

In [0]:
import pandas as pd
import matplotlib.pyplot as plt

### Versão Pandas

In [36]:
pd.__version__

'0.24.2'

### Analisando dados CSV

#### Importando arquivo csv

In [37]:
df = pd.read_csv('./aluguel.csv',sep = ';')
df.head(10)

                      Tipo           Bairro  ...  Condominio    IPTU
0                Quitinete       Copacabana  ...       500.0    60.0
1                     Casa  Jardim Botânico  ...         NaN     NaN
2  Conjunto Comercial/Sala  Barra da Tijuca  ...      4020.0  1111.0
3              Apartamento           Centro  ...       390.0    20.0
4              Apartamento     Higienópolis  ...       230.0     NaN
5              Apartamento     Vista Alegre  ...         NaN     NaN
6              Apartamento         Cachambi  ...       301.0    17.0
7       Casa de Condomínio  Barra da Tijuca  ...         NaN     NaN
8       Casa de Condomínio            Ramos  ...         NaN     NaN
9  Conjunto Comercial/Sala           Centro  ...     19193.0  3030.0

[10 rows x 9 columns]

#### Tipo do arquivo csv

In [38]:
type(df)

pandas.core.frame.DataFrame

#### Principais informações do dataframe

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32960 entries, 0 to 32959
Data columns (total 9 columns):
Tipo          32960 non-null object
Bairro        32960 non-null object
Quartos       32960 non-null int64
Vagas         32960 non-null int64
Suites        32960 non-null int64
Area          32960 non-null int64
Valor         32943 non-null float64
Condominio    28867 non-null float64
IPTU          22723 non-null float64
dtypes: float64(3), int64(4), object(2)
memory usage: 2.3+ MB

#### linhas e colunas

In [40]:
print(df.shape)
print(df.shape[0])
print(df.shape[1])

(32960, 9)
32960
9

In [41]:
df.dtypes

Tipo           object
Bairro         object
Quartos         int64
Vagas           int64
Suites          int64
Area            int64
Valor         float64
Condominio    float64
IPTU          float64
dtype: object

#### Dataframe com as colunas e seus tipos de dados

In [42]:
tipo_dados = pd.DataFrame(df.dtypes,columns=['Tipos de Dados'])
tipo_dados.columns.name = 'Variaveis'
tipo_dados

Variaveis  Tipos de Dados
Tipo               object
Bairro             object
Quartos             int64
Vagas               int64
Suites              int64
Area                int64
Valor             float64
Condominio        float64
IPTU              float64

### Analisando Tipo de Imóveis

#### Coluna 'Tipo' do dataframe aluguel.csv

In [43]:
df['Tipo']
df.Tipo.head()

0                  Quitinete
1                       Casa
2    Conjunto Comercial/Sala
3                Apartamento
4                Apartamento
Name: Tipo, dtype: object

#### Armazendo e analisando a coluna 'Tipo'

In [44]:
df_tipo = df['Tipo']
type(df_tipo)

pandas.core.series.Series

#### Retirando duplicados da coluna 'Tipo'

In [45]:
df_tipo.drop_duplicates()

0                          Quitinete
1                               Casa
2            Conjunto Comercial/Sala
3                        Apartamento
7                 Casa de Condomínio
16                    Prédio Inteiro
17                              Flat
29                        Loja/Salão
80           Galpão/Depósito/Armazém
83                    Casa Comercial
117                     Casa de Vila
159                   Terreno Padrão
207                      Box/Garagem
347                             Loft
589      Loja Shopping/ Ct Comercial
2157                         Chácara
3354           Loteamento/Condomínio
4379                           Sítio
4721                   Pousada/Chalé
6983                          Studio
9687                           Hotel
23614                      Indústria
Name: Tipo, dtype: object

#### Analisando a quantidade da coluna 'Tipo' sem duplicidade

In [46]:
len(df_tipo.drop_duplicates())

22

### Organizando os Tipos de Imóveis

#### dataframe de tipos de imoveis

In [47]:
df_tipo = pd.DataFrame(df_tipo)
df_tipo.head()

                      Tipo
0                Quitinete
1                     Casa
2  Conjunto Comercial/Sala
3              Apartamento
4              Apartamento

#### index do dataframe de tipo de imoveis

In [48]:
df_tipo.index

RangeIndex(start=0, stop=32960, step=1)

#### Alterando os nomes das colunas do dataframe

In [49]:
df_tipo.index = range(df_tipo.shape[0])
df_tipo.columns.name = 'Id'
df_tipo.head()

Id                     Tipo
0                 Quitinete
1                      Casa
2   Conjunto Comercial/Sala
3               Apartamento
4               Apartamento

#### Lista com a coluna 'Tipo' sem duplicidade

In [50]:
list(df_tipo['Tipo'].drop_duplicates())

['Quitinete',
 'Casa',
 'Conjunto Comercial/Sala',
 'Apartamento',
 'Casa de Condomínio',
 'Prédio Inteiro',
 'Flat',
 'Loja/Salão',
 'Galpão/Depósito/Armazém',
 'Casa Comercial',
 'Casa de Vila',
 'Terreno Padrão',
 'Box/Garagem',
 'Loft',
 'Loja Shopping/ Ct Comercial',
 'Chácara',
 'Loteamento/Condomínio',
 'Sítio',
 'Pousada/Chalé',
 'Studio',
 'Hotel',
 'Indústria']

#### Lista com residencias

In [51]:
residencial = ['Quitinete','Casa','Apartamento','Casa de Condomínio','Casa de Vila']
residencial

['Quitinete', 'Casa', 'Apartamento', 'Casa de Condomínio', 'Casa de Vila']

#### Valores booleanos da coluna 'Tipo' conforme lista residencial

In [52]:
df.head(10)

                      Tipo           Bairro  ...  Condominio    IPTU
0                Quitinete       Copacabana  ...       500.0    60.0
1                     Casa  Jardim Botânico  ...         NaN     NaN
2  Conjunto Comercial/Sala  Barra da Tijuca  ...      4020.0  1111.0
3              Apartamento           Centro  ...       390.0    20.0
4              Apartamento     Higienópolis  ...       230.0     NaN
5              Apartamento     Vista Alegre  ...         NaN     NaN
6              Apartamento         Cachambi  ...       301.0    17.0
7       Casa de Condomínio  Barra da Tijuca  ...         NaN     NaN
8       Casa de Condomínio            Ramos  ...         NaN     NaN
9  Conjunto Comercial/Sala           Centro  ...     19193.0  3030.0

[10 rows x 9 columns]

In [53]:
selecao = df['Tipo'].isin(residencial)
selecao.head(10)

0     True
1     True
2    False
3     True
4     True
5     True
6     True
7     True
8     True
9    False
Name: Tipo, dtype: bool

#### Dataframe com a coluna 'Tipo' apenas com tipo residencial

In [54]:
df_residencial = df[selecao]
df_residencial.head(20)

                  Tipo                   Bairro  ...  Condominio   IPTU
0            Quitinete               Copacabana  ...       500.0   60.0
1                 Casa          Jardim Botânico  ...         NaN    NaN
3          Apartamento                   Centro  ...       390.0   20.0
4          Apartamento             Higienópolis  ...       230.0    NaN
5          Apartamento             Vista Alegre  ...         NaN    NaN
6          Apartamento                 Cachambi  ...       301.0   17.0
7   Casa de Condomínio          Barra da Tijuca  ...         NaN    NaN
8   Casa de Condomínio                    Ramos  ...         NaN    NaN
10         Apartamento                   Centro  ...         NaN    NaN
11         Apartamento                   Grajaú  ...       642.0   74.0
12         Apartamento      Lins de Vasconcelos  ...       455.0   14.0
13         Apartamento               Copacabana  ...       561.0   50.0
14           Quitinete               Copacabana  ...       501.0    NaN
15         Apartamento               Copacabana  ...      2000.0  803.0
18  Casa de Condomínio                  Taquara  ...         NaN    NaN
19         Apartamento  Freguesia (Jacarepaguá)  ...       300.0   28.0
20         Apartamento          Barra da Tijuca  ...       589.0  147.0
21         Apartamento                   Tijuca  ...       700.0  138.0
22  Casa de Condomínio          Barra da Tijuca  ...      2695.0    NaN
23         Apartamento                   Olaria  ...       670.0    NaN

[20 rows x 9 columns]

#### Lista do dataframe residencial

In [55]:
list(df_residencial['Tipo'].drop_duplicates())

['Quitinete', 'Casa', 'Apartamento', 'Casa de Condomínio', 'Casa de Vila']

#### Diferença da quantidade do dataframe original pro residencial

In [56]:
print(df_residencial.shape[0]) # dataframe com tipos residenciais
print(df.shape[0]) # dataframe com todos os tipos

22580
32960

In [57]:
df_residencial.index = range(df_residencial.shape[0])
df_residencial.head(20)

                  Tipo                   Bairro  ...  Condominio   IPTU
0            Quitinete               Copacabana  ...       500.0   60.0
1                 Casa          Jardim Botânico  ...         NaN    NaN
2          Apartamento                   Centro  ...       390.0   20.0
3          Apartamento             Higienópolis  ...       230.0    NaN
4          Apartamento             Vista Alegre  ...         NaN    NaN
5          Apartamento                 Cachambi  ...       301.0   17.0
6   Casa de Condomínio          Barra da Tijuca  ...         NaN    NaN
7   Casa de Condomínio                    Ramos  ...         NaN    NaN
8          Apartamento                   Centro  ...         NaN    NaN
9          Apartamento                   Grajaú  ...       642.0   74.0
10         Apartamento      Lins de Vasconcelos  ...       455.0   14.0
11         Apartamento               Copacabana  ...       561.0   50.0
12           Quitinete               Copacabana  ...       501.0    NaN
13         Apartamento               Copacabana  ...      2000.0  803.0
14  Casa de Condomínio                  Taquara  ...         NaN    NaN
15         Apartamento  Freguesia (Jacarepaguá)  ...       300.0   28.0
16         Apartamento          Barra da Tijuca  ...       589.0  147.0
17         Apartamento                   Tijuca  ...       700.0  138.0
18  Casa de Condomínio          Barra da Tijuca  ...      2695.0    NaN
19         Apartamento                   Olaria  ...       670.0    NaN

[20 rows x 9 columns]

### Exportando arquivo csv

In [0]:
df_residencial.to_csv('./aluguel_residencial.csv',sep=';')

#### Erro ao exportar CSV com indice

In [59]:
df_r = pd.read_csv('datasets/aluguel_residencial.csv',sep=';')
df_r.head()

FileNotFoundError: ignored

#### Importando CSV sem indice

In [0]:
df_residencial.to_csv('datasets/aluguel_residencial.csv',sep=';',index=False)
df_r = pd.read_csv('datasets/aluguel_residencial.csv',sep=';')
df_r.head()

### Seleções e Frequencias

#### Selecionando 'Apartamentos' no Dataframe

In [0]:
selecao_apto = df_residencial['Tipo'] == 'Apartamento'
selecao_casa = (df_residencial['Tipo']=='Casa')|(df_residencial['Tipo']=='Casa de Condomínio')|(df_residencial['Tipo']=='Casa de Vila')
selecao_area = (df_residencial['Area']>=60)&(df_residencial['Area']<=100)
selecao_pessoa = (df_residencial['Quartos']>=4)&(df_residencial['Valor']<2000.0)

#### Filtrando do Dataset 'Residencial' apenas o Tipo 'Apartamento'

In [0]:
df_apartamentos = df_residencial[selecao_apto]
df_casas = df_residencial[selecao_casa]
df_area = df_residencial[selecao_area]
df_pessoa = df_residencial[selecao_pessoa]

#### Alterando index

In [0]:
df_apartamentos.index = range(df_apartamentos.shape[0])
df_casas.index = range(df_casas.shape[0])
df_area.index = range(df_area.shape[0])
df_pessoa.index = range(df_pessoa.shape[0])

#### Quantidade/Frequencia de 'Apartamentos'

In [0]:
df_apartamentos.shape[0] # Quantidade de Apartamentos
df_casas.shape[0]        # Quantidade de Casa
df_area.shape[0]         # Quantidade de tipos de residencias com Area maior que 60 e menor que 100
df_pessoa.shape[0]       # Quantidade de Quarto maior que 4 e com valor menor que R$2000b

### Tratamento de Dados NaN

#### Booleanos para NaN

In [0]:
df.isnull().head()

In [0]:
df.notnull().head()

In [0]:
df.info()

#### Todos os valores nulos

In [0]:
df[df['Valor'].isnull()]

#### Retirando todos os valores nulos da colunas 'Valor'

In [0]:
df_nan = df.dropna(subset=['Valor'])
df_nan.head()

In [0]:
df_nan[df_nan['Valor'].isnull()]

In [0]:
df[df['Condominio'].isnull()].shape[0]

#### Selecionando os valores nulos nas colunas 'Apartamento' e 'Condominio'

In [0]:
selecao_null_c = (df['Tipo']=='Apartamento')&(df['Condominio'].isnull())
selecao_null_c.head(20)

In [0]:
df_nan = df_nan[~selecao_null_c]
df_nan.head()

In [0]:
df.fillna(0).head(20)
df.fillna(0).info()

### Criando novas variaveis

In [0]:
df['Valor Bruto'] = df['Valor'] + df['Condominio'] + df['IPTU']
df.fillna(0,inplace=True)
df.head(10)

In [0]:
df['Valor m2'] = (df['Valor'] / df['Area']).round(2)
df.head(10)

### Grupos

In [0]:
bairros = df['Bairro'].unique()
selecao_bairro = df['Bairro'].isin(bairros)
df = df[selecao_bairro]
df['Bairro'].drop_duplicates()

In [0]:
gb_bairro = df.groupby('Bairro')
type(gb_bairro)

In [0]:
gb_bairro.groups

In [0]:
for bairro, dados in gb_bairro:
    print(bairro)

In [0]:
gb_bairro[['Valor','Condominio']].mean().round(2)

In [0]:
gb_bairro['Valor'].describe().round(2).head(10)

In [0]:
gb_bairro['Valor'].aggregate(['min','max','sum']).round(2).head(10).rename(columns={'min':'Minimo','max':'Maximo','sum':'Soma'})

### Faixa de Valores

In [0]:
classes = [0,2,4,6,8]
labels = ['0~2 quartos','3~4 quartos','5~6 quartos','7~ quartos']
quartos = pd.cut(df.Quartos,classes)
pd.value_counts(quartos)

In [0]:
quartos = pd.cut(df.Quartos,classes,labels=labels,include_lowest=True)
pd.value_counts(quartos)

In [0]:
%matplotlib inline
plt.rc('figure',figsize=(30,5))

In [0]:
gb_bairro['Valor'].std().plot.bar(color='blue')

In [0]:
gb_bairro['Valor']