### Bibliotecas

In [1]:
import pandas as pd

### Series

In [2]:
data = [1,2,3,4,5]
s = pd.Series(data)
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [3]:
type(s)

pandas.core.series.Series

#### Series com Lista

In [4]:
index = ['Index' + str(i+1) for i in range(5)]
index

['Index1', 'Index2', 'Index3', 'Index4', 'Index5']

In [5]:
s = pd.Series(data,index=index)
s

Index1    1
Index2    2
Index3    3
Index4    4
Index5    5
dtype: int64

#### Series com Dict

In [6]:
data = {'Index'+str(i):i+1 for i in range(5)}
data

{'Index0': 1, 'Index1': 2, 'Index2': 3, 'Index3': 4, 'Index4': 5}

In [7]:
s = pd.Series(data)
s

Index0    1
Index1    2
Index2    3
Index3    4
Index4    5
dtype: int64

#### Operações com Series

In [8]:
s2 = s * 2
s2

Index0     2
Index1     4
Index2     6
Index3     8
Index4    10
dtype: int64

In [9]:
soma_series = s2 + 1
soma_series

Index0     3
Index1     5
Index2     7
Index3     9
Index4    11
dtype: int64

#### DataFrame com as Series

In [10]:
df_s = pd.DataFrame(s)
df_s.columns = ['Numeros']
df_s.columns.name = 'Ids'
df_s

Ids     Numeros
Index0        1
Index1        2
Index2        3
Index3        4
Index4        5

### DataFrames

#### Lista como dados

In [11]:
dados = [[1,2,3],
         [4,5,6],
         [7,8,9]]
dados

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

#### DataFrame com a Lista de dados

In [12]:
df1 = pd.DataFrame(data=dados)
df1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

#### Index & Columns

In [13]:
index1 = ['Linha'+str(i) for i in range(3)]
index

['Index1', 'Index2', 'Index3', 'Index4', 'Index5']

In [14]:
colunas1 = ['Coluna'+str(i) for i in range(3)]
colunas1

['Coluna0', 'Coluna1', 'Coluna2']

In [15]:
df1 = pd.DataFrame(data=dados,index=index1,columns=colunas1)
df1

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

#### Dict como dados

In [16]:
data = {'Coluna0': {'Linha0': 1, 'Linha1': 4, 'Linha2': 7},
        'Coluna1': {'Linha0': 2, 'Linha1': 5, 'Linha2': 8},
        'Coluna2': {'Linha0': 3, 'Linha1': 6, 'Linha2': 9}}
data

{'Coluna0': {'Linha0': 1, 'Linha1': 4, 'Linha2': 7},
 'Coluna1': {'Linha0': 2, 'Linha1': 5, 'Linha2': 8},
 'Coluna2': {'Linha0': 3, 'Linha1': 6, 'Linha2': 9}}

#### DataFrame com o Dict de dados

In [17]:
df2 = pd.DataFrame(data)
df2

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

#### Tuplas como dados

In [18]:
tuplas = [(1,2,3),
         (4,5,6),
         (7,8,9)]
tuplas

[(1, 2, 3), (4, 5, 6), (7, 8, 9)]

#### DataFrame com as Tuplas de dados

In [19]:
df3 = pd.DataFrame(data=tuplas)
df3

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

#### Index & Columns

In [20]:
df3 = pd.DataFrame(data=tuplas,index=index1,columns=colunas1)
df3

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

### Concatenação de DataFrames

#### Alterando valores

In [22]:
df1[df1 > 0] = 'A'
df2[df2 > 0] = 'B'
df3[df3 > 0] = 'C'

In [23]:
df1

       Coluna0 Coluna1 Coluna2
Linha0       A       A       A
Linha1       A       A       A
Linha2       A       A       A

In [25]:
df2

       Coluna0 Coluna1 Coluna2
Linha0       B       B       B
Linha1       B       B       B
Linha2       B       B       B

In [26]:
df3

       Coluna0 Coluna1 Coluna2
Linha0       C       C       C
Linha1       C       C       C
Linha2       C       C       C

#### Concatenando

In [27]:
df4 = pd.concat([df1,df2,df3])
df4

       Coluna0 Coluna1 Coluna2
Linha0       A       A       A
Linha1       A       A       A
Linha2       A       A       A
Linha0       B       B       B
Linha1       B       B       B
Linha2       B       B       B
Linha0       C       C       C
Linha1       C       C       C
Linha2       C       C       C

In [28]:
df4 = pd.concat([df1,df2,df3],axis=1)
df4

       Coluna0 Coluna1 Coluna2 Coluna0 Coluna1 Coluna2 Coluna0 Coluna1 Coluna2
Linha0       A       A       A       B       B       B       C       C       C
Linha1       A       A       A       B       B       B       C       C       C
Linha2       A       A       A       B       B       B       C       C       C